#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.label {
  cursor: pointer;
}

.light {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: black;
}

/* Styles for traffic light component. */

.disabled {
  opacity: 0.4;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: chartreuse;
}

/* Styles for modal component */
.modal-container {
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  width: 30rem;
  /* max-width: 20rem; */
}

.modal-close-button {
  position: absolute;
  top: 0px;
  right: 3px;
}

/* Styles for overlay component */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 1, 0.8);
}

/* Styles for progress bar component */
.progress {
  height: 20px;
  border: 1px solid white;
  border-radius: 5rem;
  overflow: hidden;
  position: relative;
}

.progress div {
  height: 100%;
  width: 100%;
  background-color: green;
}

.progress span {
  position: absolute;
  color: white;
}

.progress-fill {
  border: 1px solid green;
  width: 100%;
  color: blue;
  background-color: blue;
}

/* Styles for Pagination component div. */
.product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-container img {
  width: 20rem;
  object-fit: contain;
  height: 10rem;
}

.pagination-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.pagination-range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.disabled {
  cursor: not-allowed;
}
